html {
    height: 100%; /* for testing different screen sizes */
    box-sizing: border-box;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    border: 1px solid black; /* temporary */
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: inherit; /* for testing different screen sizes */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form {
    padding: 2rem;
    display: grid;
    gap: 1rem;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
}

.carousel {
    height: 70%;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.carousel__left, .carousel__right {
    background: linear-gradient(-45deg, #fff, #67e8f9);
}

.carousel__item {
    margin: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}

.book-cover, .book-info {
    display: flex;
    flex-direction: column;
}

.split-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-button {
    background: linear-gradient(-45deg, #fff, #67f97f);
}

.remove-button {
    background: linear-gradient(-45deg, #fff, #f96c67);
}

.add-button, .remove-button, .toggle-button {
    margin: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.add-button img, .remove-button img, .toggle-button img {
    border-radius: 50%;
}

.book-cover *, .book-info p {
    padding: 1rem;
    flex: 1;
}

.book-cover * {
    display: grid;
    place-content: center;
}

.book-cover * {
    text-align: center;
}